
  /* Son variables personalizadas para utilizarlas en todo el archivo como var(--NmbVariable) */
:root {
    --bg-nav: #befefb;
   
    --color-text: black;
    --letra-hover: #0234ff;
    --bg-hover: #5ff1e9;

}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *::after {
    box-sizing: inherit;
}


body{

    /* 1 REM es igual a 10px */
    font-size: 16px;
    
    /* Propiedades estandar de la fuente de letra */
    font-family: "Pochaevsk", serif;
    font-weight: 400;
    font-style: normal;
    /* Degradado de colores de fondo*/
    background-image: linear-gradient(to top, #b3e7e7 0%, white 40% );
   


}

h1,h2,h3,h4,h5 {
    text-align: center;

}


.titulo {
    text-align: center;
    font-size: 3.8rem;
    
}


.titulo span{
    font-size: 2rem;

}

.contenedor {
    /* max-width no fuerza la medida de rems en el navegador, por lo que puede ser flexible en diferentes tamanos de celulares y elimina el scroll lateral*/
    max-width: 120rem;

    /* Para centrar el nav se utiliza el siguiente margin que significa  margin-top 0, margin-right auto, margin-botton 0 y margin-left 0*/
    margin: 0 auto;


}

.sombra {
    -webkit-box-shadow: 0px 0px 64px -50px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 64px -50px rgba(0,0,0,1);
box-shadow: 0px 0px 64px -50px rgba(0,0,0,1);
    background-color: white;
    padding: 1rem;
    border-radius: 3rem;
}

.nav-bg {
    background-color: var(--bg-nav);

}


.navegacion-principal{
  
    display: flex;
    flex-direction: column;
 
}

/* Existen diferentes px para diferentes dispositivos, los mas comunes son 480px (celulares), 768px (tabletas), 1140px(computadoras), 1400px(televisores) */

/*  A partir de los 768px hacia arriba nav empieza a mostrar los elementos como en una tableta*/
@media (min-width: 768px ) { 
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
        
    }
 
}


/* Padding se implementa aqui porque 'a' al ser hijo de navegacion-principal(nav) puede modificar su tamano*/
.navegacion-principal a{
    color: var(--color-text);
    padding: 2rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    
  }

.navegacion-principal a:hover{
    background-color: var(--bg-hover);
    color: var(--letra-hover);
    
}


.hero{

        background-image: url(img/fondo-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40rem;
        position: relative;  /* El contenedor padre siempre tiene que estar en posicion relativa */
        
       
}

.contenido-hero {
        position: absolute;   /*El hijo siempre debe estar en posicion absoluta*/
          /* Una vez hecho los dos cambios de padre e hijo el contenido puede moverse libremente dentro del padre */
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 100%;
        opacity: 0.6;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: white;
        

}

.contenido-hero h2
 {
    margin-bottom: 0px; 
    /* Margin es el espacio de afuera hacia adentro mientras que paddin es relleno de adentro hacia afuera*/
}
.contenido-hero h3
 {
    margin-top: 0px;
}

.boton {
        text-decoration: none;
        text-transform: uppercase;
        background-color: var(--bg-nav);
        padding: 1rem 2rem;
        margin-top: 1rem;
        font-size: 2rem;
        font-weight: 700;
        border-radius: 10px;
        width: 90%;
        text-align: center;
        
}

@media (min-width: 720px ) { 
     .boton {
        width: auto;
        
     }
  }


 






